In [3]:


filepath='Datafiles/income.csv'
import pandas as pd
def readCSVdata(filepath):
    return pd.read_csv(filepath)
readCSVdata(filepath)

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,47215,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

In [6]:
def getRowIndex(df,rowkey):
    for i in range(len(df.values)):
        if df.values[i][0]==rowkey or df.values[i][1]==rowkey:
            rowindex=i
    return rowindex 
def getColumnIndex(df,columnkey):
    for i in range(len(df.columns)):
        if df.columns[i]==columnkey:
            columnindex=i
    return columnindex

In [7]:
incomedf.values[2][2:].mean()

47214.77777777778

In [8]:
#Combined Average Income of all states from 2005 to 2013
#Answer = 48525
def avg(df):
    summ=0
    l=[]
    for i in range(0,len(df.values)):
        c=sum(df.values[i][2:])
        l.append(c/9)
    print(sum(l)//5)
avg(incomedf)

48525.0

In [66]:
def avg(df):
    summ=0
    l=[]
    index=(ey-sy)+1
    #print(index)
    for i in range(0,len(df.values)):
        c=sum(df.values[i][sy:ey])
        l.append(c/9)
    print(sum(l)//len(c))
sy=getColumnIndex(incomedf,'2005')
print(sy)
ey=getColumnIndex(incomedf,'2013')
print(ey)
avg(incomedf)

2
10

TypeError: object of type 'int' has no len()

In [9]:
incomedf.values[4][2:]

array([51755, 55319, 55734, 57014, 56134, 54283, 53367, 57020, 57528],
      dtype=object)

In [10]:
#State with highest average income in the last three years
#Answer = Alaska
def highavg(df):
    l=[]
    s=[]
    h=0
    for i in range(len(df.values)):
        l.append(df.values[i][8:])
    for j in l:
        s.append(sum(j))
    for i in range(len(s)):
        if s[i]==max(s):
            print(incomedf.values[i][1])    
highavg(incomedf)

Alaska

In [11]:
#State with lowest average income from 2007 to 2010(inclusive)
#Answer = Arkansas
def minavg(df):
    l=[]
    s=[]
    h=0
    for i in range(len(df.values)):
        l.append(df.values[i][8:])
    for j in l:
        s.append(sum(j))
    for i in range(len(s)):
        if s[i]==min(s):
            print(incomedf.values[i][1])    
minavg(incomedf)

Arkansas

In [12]:
#Print the list of all states in the same line with average income less than California
#Answer = Alabama Arizona Arkansas 

def lesscali(df):
    l=[]
    for i in range(len(df.values)):
        l.append(sum(df.values[i][2:]))
    for i in range(len(l)-1):
        c=getRowIndex(df,'California')
        if l[i]<l[c]:
            print(df.values[i][1],end=' ')
        
lesscali(incomedf)

Alabama Arizona Arkansas

In [18]:
#Print the names of states based on descending order of income in the year 2009
#Answer = Alaska California Arizona Alabama Arkansas
def des(df):
    l=[]
    c=getColumnIndex(df,'2009')
    for i in range(len(df.values)):
        l.append(df.values[i][c])
    #print(l)
    s=sorted(l,reverse=True)
    for i in s:
        for j in range(0,len(df.values)):
            if(i==df.values[j][c]):
                print(df.values[j][1],end=' ')
des(incomedf)

Alaska California Arizona Alabama Arkansas

In [69]:
#State with the lowest recorded income from 2005 to 2013
#Answer = Arkansas
def lowest(df):
    summ=0
    l=[]
    m=[]
    for i in range(0,len(df.values)):
        l.append(df.values[i][sy:ey])
        m.append(min(l[i]))
    print(min(m))
    minimum=min(m)
sy=getColumnIndex(incomedf,'2005')
ey=getColumnIndex(incomedf,'2013')
lowest(incomedf)

36538

In [67]:
incomedf['2005'].mean()

45339.8

In [73]:
def lowest(df):
    summ=0
    l=[]
    m=[]
    for i in range(0,len(df.values)):
        l.append(df.values[i][sy:ey])
        m.append(min(l[i]))
    minimum=min(m)
    for i in range(0,len(df.values)):
        for j in range(0,len(df.values)):
            print(df.loc[j][i])
                        
sy=getColumnIndex(incomedf,'2005')
ey=getColumnIndex(incomedf,'2013')
lowest(incomedf)

04000US01
04000US02
04000US04
04000US05
04000US06
Alabama
Alaska
Arizona
Arkansas
California
37150
55891
45245
36658
51755
37952
56418
46657
37057
55319
42212
62993
47215
40795
55734